

#talkingNow{
    background: #EEEEEE;
    height: 100%;
    header{
        font: .34rem/1rem "PingFang-M";
        color: #fff;
        background: #49B152;
        text-align: center;
        position: relative;
        .change{
            position: absolute;
            right: .45rem;
            font-size: .28rem;
        }
        img{
            height: .4rem;
            position: absolute;
            top: .3rem;
            left: .45rem;
        }
    }
    .detailImg{
        height: 2rem;
        width: 2rem;
        display: block;
        margin: .2rem auto;
        border-radius: 50%;
    }
    .talking{
        width: 6.7rem;
        background: #fff;
        margin: 0 auto;
        .talking-top{
            border-bottom: 1px solid #C8C8C8;
            padding: .2rem;
            p:nth-child(1){
                text-align: center;
                font: .3rem "PingFang-M";
                color: #323232;
            }
            p:nth-child(2){
                text-align: center;
                display: flex;
                justify-content: center;
                margin: .2rem 0;
                img{
                    height: .3rem;
                }
            }
            p:nth-child(3){
                text-align: center;
                font: .3rem "PingFang-M";
                color: #FF7916;
                
            }
        }
        .talking-bottom{
            padding: .2rem;
            ul{
                display: flex;
                flex-wrap: wrap;
                li{
                    padding: .1rem .2rem;
                    border: 1px solid #C8C8C8;
                    border-radius: .4rem;
                    font: .3rem "PingFang-M";
                    color: #646464;
                    margin: 0 .2rem .2rem 0;
                }
            }
            .text-wrap{
                position: relative;
                textarea{
                    height: 2rem;
                    width: 100%;
                    display: block;
                    background: #EEEEEE;
                    box-sizing: border-box;
                    padding: .2rem;
                    font: .28rem/.4rem "PingFang-M";
                    color: #323232;
                    resize: none;
                }
                span{
                    position: absolute;
                    font: .28rem "PingFang-M";
                    color: #646464;
                    right: .2rem;
                    bottom: .2rem;
                }
            }
            .img-wrap{
                overflow: hidden;
                margin-top: .1rem;
                padding: 0 0 .2rem 0;
                .addImg{
                    text-align: center;
                    border: 1px dashed #C8C8C8;
                    float: left;
                    img{
                        display: block;
                        height: .5rem;
                        margin: .2rem auto 0;
                    }
                    span{
                        display: block;
                        font: .28rem "PingFang-M";
                        color: #646464;
                        padding: .2rem;
                    }
                    
                }
            }
        }
    }
}
