@import "./all";

#allorder{
    height: 100%;
    display: flex;
    flex-direction: column;
    #allorder-header{
        height: 1rem;
        text-align: center;
        color: #fff;
        font: .34rem/1rem "PingFang-M";
        background: #49B152;
        position: relative;
        img{
            height: .4rem;
            position: absolute;
            left: .4rem;
            top: .3rem;
        }
    }
    nav{
        display: flex;
        text-align: center;
        height: .8rem;
        position: relative;
        div{
            flex: 1;
            font: .28rem/.8rem "PingFang-M";
            color: #323232;
        }
        div.active{
            color: #49B152;
        }
        p{
            height: .06rem;
            width: 1.25rem;
            background: #49b152;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: .3s left;
        }
    }
    .wrap-swiper{
        flex: 1;
        width: 100%;
        background: #F3F3F3;
    }
    .loading{
        text-align: center;
        font: .28rem "PingFang-M";
        margin: -.2rem auto 0;
        img{
            vertical-align: middle;
        }
    }
    .toBottomOfPage{
        display: block;
        margin: -.2rem auto 0;
        text-align: center;
        font: .28rem "PingFang-M";
    }
}
