
#search{
    width: 100%;
    header{
        display: flex;
        align-items: center;
        height: .9rem;
        background: #49B152;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1300;
        img{
            margin: 0 .7rem 0 .4rem;
            height: .4rem;
        }
        div{
            position: relative;
            width: 4.8rem;
            height: .9rem;
            input{
                float: left;
                height: .6rem;
                width: 100%;
                border-radius: .3rem;
                padding-left: .54rem;
                margin-top: .15rem;
                box-sizing: border-box;
                outline: none;
                font: .28rem "PingFang-M";
                color: #646464;
            }
            img{
                position: absolute;
                left: -.2rem;
                top: .3rem;
                height: .3rem;
            }
        }
        span{
            flex: 1;
            text-align: center;
            font: .3rem "PingFang-M";
            color: #fff;
        }
    }
    .search-part{
        padding-top: .9rem;
        width: 100%;
        .partOne{
            p{
                font: .32rem/.92rem "PingFang-M";
                color: #323232;
                padding-left: .4rem;
            }
            ul{
                overflow: hidden;
                padding: 0 0 0 .4rem;
                li{
                    float: left;
                    padding: 0 .2rem;
                    border: 1px solid #49B152;
                    font: .28rem/.58rem "PingFang-M";
                    margin: 0 .44rem .28rem 0;
                    border-radius: .29rem;
                    word-wrap : break-word;
                    word-break: break-all;
                }
            }
        }
        .partTwo{
            li{
                padding-left: .4rem;
                font: .34rem/1rem "PingFang-M";
                color: #969696;
                border-bottom: 1px solid #C8C8C8;
            }
        }
    }
}
